        <p class="bottom">
            <strong><a href="http://www.hcii.cn/" title="花橙金融">花橙金融</a></strong> &copy; 2015 花橙互联网金融信息服务（上海）有限公司 All rights reserved <a href="http://www.miitbeian.gov.cn/" title="花橙金融备案号" target="_blank">沪ICP备15040224号-1</a> <span class="statis"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256242729'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256242729%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span>
        </p>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?27cebaa2ac7fe60cce9630eeb9c92b12";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>