    <!--footer-->
    <div id="footer">
        <dl>
            <dt>
                <ul>
                    <li><strong><a href="/help">帮助中心</a></strong></li>
                    <li><a href="/profiting">如何购买</a></li>
                    <li><a href="/question">常见问题</a></li>
                    <li><a href="/help">新手指引</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/safety">安全保障</a></strong></li>
                    <li><a href="/safety">资金安全</a></li>
                    <li><a href="/safety">风控保障</a></li>
                    <li><a href="/collection/" title="票据质押安全托收">托收公示</a></li>
                    <li><a href="/repayment/" title="客户回款凭证公示">回款凭证</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/products/" title="花橙金融 理财产品">理财产品</a></strong></li>
                    <li><a href="/products/" title="票据理财">票据产品</a></li>
                    <li><a href="/products/" title="花橙金融 理财产品">支票产品</a></li>
                    <li><a href="/products/" title="花橙金融 理财产品">保险产品</a></li>
                    <li><a href="/products/" title="花橙金融 更多理财产品">更多</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/news/">新闻资讯</a></strong></li>
                    <li><a href="/news/">花橙新闻</a></li>
                    <li><a href="/reports">媒体报道</a></li>
                    <li><a href="/partners">合作伙伴</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/about">关于我们</a></strong></li>
                    <li><a href="/about">花橙金融</a></li>
                    <li><a href="/statement" target="_blank">法律声明</a></li>
                    <li><a href="/job">加入花橙</a></li>
                    <li><a href="/service">联系我们</a></li>
                </ul>

                <div class="service">
                    <span>客户服务</span>
                    <h5>4000-267-555</h5>

                    <em>工作时间：9:00 - 18:00</em>
                    <em>官方邮箱：<a href="mailto:service@hcii.cn">service@hcii.cn</a></em>
                </div>
            </dt>
            <dd><strong><a href="http://www.hcii.cn/" title="花橙金融">花橙金融</a></strong> &copy; 2015 花橙互联网金融信息服务（上海）有限公司 All rights reserved <a href="http://www.miitbeian.gov.cn/" title="花橙金融备案号" target="_blank">沪ICP备15040224号-1</a> <span class="statis"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256242729'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256242729%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span></dd>
        </dl>
        <p>
            <a href="http://t.knet.cn/index_new.jsp" target="_blank" class="hcicon foot-kx">可信网站</a>
            <a href="https://credit.szfw.org/CX20151119012312850310.html" target="_blank" class="hcicon foot-cx">诚信网站</a>
            <a href="http://www.zx110.org/" target="_blank" class="hcicon foot-wl">网络诚信</a>
        </p>
    </div>
    <!--footer eof-->

    {{!--javascript--}}<script src="{{static '/scripts/require.js'}}"  data-main="{{static '/scripts/main'}}"></script>{{!--javascript eof--}}
    <!--{{node}}-->
