    <!--header-->
    <div id="header">
        <a href="/" title="花橙金融" class="logo hcicon"></a>
        
        <ul id="subnav">
            <li><a href="/">首页</a></li>
            <li>
                <a href="/products/" class="{{products}}">我要投资</a>
            </li>

            <li><a href="/assignment" class="{{assignment}}">转让专区</a></li>
            <li>
                <a href="/help" class="{{help}}">新手帮助</a>
                <ul>
                    <li><a href="/profiting">如何购买</a></li>
                    <li><a href="/help">新手指引</a></li>
                    <li><a href="/question">常见问题</a></li>
                </ul>
            </li>
            <li>
                <a href="/service" class="{{service}}">客户服务</a>
                <ul>
                    <li><a href="/collection/" title="票据托收">托收公示</a></li>
                    <li><a href="/repayment/" title="回款公示">回款凭证</a></li>
                </ul>
            </li>
            <li class="wall"><a href="/usercenter">我的钱包</a></li>  
        </ul>
    </div>
    <!--header eof-->