{{!--关于我们--}}

{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}


    <div id="container">
        <dl class="about">
            <dt>
                <div>
                    <h2>花橙金融</h2>
                    <p>花橙金融，国内领先的创新互联网理财平台。2015年创立于中国上海，我们致力于为广大缺乏投资渠道的人们提供一个安全、诚信、低风险、回报稳定的理财渠道。</p>
                    <p>花橙金融为用户提供合理化的资产配置服务，让用户的收益最大化，真正实现“让钱变得更有价值”的愿景。</p>

                    <strong>花橙金融 LOGO</strong>
                </div>
            </dt>
            <dd>
                <div>
                    <h2>LOGO释义</h2>
                    <p>花橙金融logo以古代钱币为原型，配以稳重温婉的暖色系，表达了将传统金融和互联网相融合的创新意味。</p>

                    <p>Logo的五个部分分别代表着“理财投资方”、“平台合作方”、“资产供应方”以及“花橙金融本身”及“诚信信誉”，共同汇聚成了一个安全、稳定、透明、高效、便捷以及多元化的互联网金融理财平台。</p>
                    
                </div>
            </dd>
            <dd class="clear us">
                <div>
                    <h2>我们的理念</h2>
                    <p>您懂财富花橙懂您</p>
                    <p>我们的使命</p>
                    <p>一切以客户资产安全为核心</p>
                </div>
            </dd>
            <dd class="clear us">
                <div>
                    <h2>为什么选择花橙金融</h2>
                    <p>
                        <span>第三方担保、保证金、多重安全防线为投资者提供保障信息公开透明，债权来源和资金去向各项数据皆公开</span>
                        <span>花橙金融只做一件事，为投融双方倾力服务，花橙金融全员参与为您提供一站式服务</span>
                    </p>
                    <p>
                        <span>
                        收益最高可达18.88%<br/>
                        投资当日即开始计息<br/>
                        省去中间环节<br/>
                        让投融双方受益
                        </span>
                        <span>
                        我们为您提供<br/>
                        多种期限、多个地域、<br/>
                        多种行业、多种形式的投资项目<br/>
                        总有一款适合您
                        </span>
                    </p>
                </div>
            </dd>
            <dd class="clear team">
                <div>
                    <h3>LIVING WITH HCII 花橙金融，您的在线理财银行家。</h3>
                    <p>
                        <em class="team-1"></em>
                        <em class="team-2"></em>
                        <em class="team-3"></em>
                        <em class="team-4"></em>
                        <em class="team-5"></em>
                    </p>
                </div>
            </dd>

        </dl>
    </div>


{{> footer}}