{{!--联系我们--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <dl class="contact">
            <dt>
                <div>
                    <ul>
                        <em></em>
                        <li>
                            <span class="weixin"></span>
                            <p>花橙金融微信理财</p>
                        </li>
                        <li>
                            <span class="mobile"></span>
                            <p>花橙金融 新浪微博</p>
                        </li>
                    </ul>
                </div>
            </dt>
            <dd>
                <div>
                    <h3>联系方式</h3>
                    <ul class="h1">
                        <li>花橙互联网金融信息服务（上海）有限公司</li>
                        <li>地址：上海市杨浦区黄兴路2077号 蓝天大厦 花橙金融</li>
                        <li>邮编：200434</li>
                        <li>电话：021-5508 7988</li>
                    </ul>
                </div>
            </dd>
            <dd>
                <div>
                    <h3>商务合作</h3>
                    <p>
                        <strong><i class="con-2"></i> 电话：021-6572 8999</strong>  
                        <strong><i class="con-3"></i> 邮箱：<a href="mailto:business@hcii.cn">business@hcii.cn</a></strong>
                    </p>
                    <h3>在线咨询</h3>
                    <p class="h2 clear">
                        <strong><i class="con-4"></i><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3121284667&amp;site=www.hcii.cn&amp;menu=yes" target="_blank" class="qq f-t">QQ: 3121284667</a></strong>
                        <strong><i class="con-4"></i><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2220523809&amp;site=www.hcii.cn&amp;menu=yes" target="_blank" class="qq f-t">QQ: 2220523809</a></strong> 
                        <strong><i class="con-4"></i><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2094793087&amp;site=www.hcii.cn&amp;menu=yes" target="_blank" class="qq f-t">QQ: 2094793087</a></strong> 
                        
                    </p>
                </div>
            </dd>
            <dd>
                <div class="clear">
                    <h3>服务热线</h3>
                    <strong><i class="con-1"></i> 客服热线：4000-267-555</strong>
                </div>
            </dd>
            <dd class="map">
                <div>
                    <b>花橙金融：上海市杨浦区黄兴路2077号 蓝天大厦</b>
                    <i></i>
                </div>
            </dd>

        </dl>
    </div>


{{> footer}}
