{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <dl class="help">
            <dt>
                <h2>
                    理财其实很简单？<br/>一分钟了解花橙金融成为理财能手！
                    <div class="uicon help-1"></div>
                </h2>
            </dt>
            <dd class="h1">
                
                <div>
                    <strong class="uicon help-2"></strong>
                    <ul>
                        <li><h3>1分钟认识花橙金融</h3></li>
                        <li>
                            国内领先的创新互联网理财平台。<br/>
                            2015年7月创立于中国上海，我们致力于为广大缺乏投资渠道的人们提供一个安全、诚信、低风险、回报稳定的理财渠道。
                        </li>
                    <ul>
                </div>
            </dd>
            <dd class="h2">
                
                <div>
                    <strong class="uicon help-3"></strong>
                    <ul>
                        <li><h3>1分钟找到花橙给您的安全感</h3></li>
                        <li>
                            互联网让理财变得更加透明、便捷，获得更多的收益。它不仅仅是一种金融渠道的创新，更是一场伟大的生活方式变革。<br/>
                            我们愿意去成为这场生活方式变革的推动者，让互联网金融走进千家万户，让网上理财更安全。
                        </li>
                    <ul>
                </div>
            </dd>
            <dd class="h3">
                
                <div>
                    <strong class="uicon help-4"></strong>
                    <ul>
                        <li><h3>1分钟了解理财</h3></li>
                        <li>
                            只要您是18岁以上的中国公民，最低1元就可以在花橙金融进行理财，平台产品丰富，年化收益8%-16%，轻点鼠标完成投资，资金账户收支实时短信提醒，您的每一笔收支都有交易记录，让您对投资了然于心。
                        </li>
                    <ul>
                </div>
            </dd>
            <dd class="h4">
                
                <div>
                    <strong class="uicon help-5"></strong>
                    <ul>
                        <li><h3>1分钟成为理财人</h3></li>
                        <li>
                            想要赚钱？还等什么，赶紧行动，立即注册花橙金融，享受理财给您带来的乐趣吧！
                        </li>
                    <ul>
                </div>
            </dd>

        </dl>
    </div>


{{> footer}}
