{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <dl class="partners">
            <dt>
                <div>
                    <h2>我们正在做什么？</h2>
                    <p>我们正在做一个安全、透明的创新型互联网金融平台。
                    <p>我们想做的是“通过新技术，新渠道、新模式、新产品让用户获得更好的体验及收益”。 </p>
                    <p>花橙金融只做一件事，为投融双方倾力服务，花橙金融全员参与为您提供一站式服务。</p>
                    <strong class="picon par-1"></strong>
                </div>
            </dt>
            <dd>
                <div>
                    <h2 class="h1">我们需要什么样的合作伙伴？</h2>
                    <p>1. 信任是我们合作的基础；</p>
                    <p>2. 敬畏金融，信仰互联网；</p>
                    <p>3. 透明，简单，直接是我们期望的沟通方式；</p>
                    <p>4. 理解，互助，共赢是我们期望的合作结果；</p>
                    <p>5. 不违法，不做假，不欺骗， 诚信，踏实。</p>

                    <strong class="picon par-2"></strong>
                </div>
            </dd>
            <dd class="par-bg">
                <div>
                    <h2 class="h2">我们需要什么样的合作伙伴？</h2>
                    <p>票据，保理，保险，车贷，众筹，融资租赁....</p>
                    <p>我们在合作的公司：</p>
                    <p>中国民生银行，招商银行，中国银联，连连支付，阳光保险....</p>
                    <p>我们期望与您一起成长，如果您认同我们的合作理念，欢迎联系我们。</p>

                    <strong class="picon par-3"></strong>
                </div>
            </dd>
            <dd>
                <div id="partner">

                    <ul>
                        <li>
                            <a href="http://www.cmbc.com.cn/" target="_blank" rel="nofollow" title="民生银行" class="hcicon line-ms">民生银行</a> <a href="http://www.cmbchina.com/" target="_blank" rel="nofollow" title="招商银行" class="hcicon line-zs">招商银行</a> <a href="http://cn.unionpay.com/" target="_blank" rel="nofollow" title="中国银联" class="hcicon line-yl">中国银联</a> <a href="http://www.sina.com.cn/" target="_blank" rel="nofollow" title="新浪" class="hcicon line-sina">新浪</a>  <a href="http://www.yicai.com/" target="_blank" rel="nofollow" title="第一财经" class="hcicon line-one">第一财经</a> <a href="http://www.hexun.com/" target="_blank" rel="nofollow" title="和讯网" class="hcicon line-hx">和讯网</a> <a href="http://www.dragontv.cn/" target="_blank" rel="nofollow" title="东方卫视" class="hcicon line-df">东方卫视</a>
                        </li>
                        <li>
                            <a href="http://www.sinosig.com/" target="_blank" rel="nofollow" title="阳光保险" class="hcicon line-dd">阳光保险</a> <a href="http://www.lianlianpay.com/" target="_blank" rel="nofollow" title="连连支付" class="hcicon line-ll">连连支付</a> <a href="https://www.baidu.com/" target="_blank" rel="nofollow" title="百度" class="hcicon line-bd">百度</a> 
                        </li>
                    </ul>


                </div>
            </dd>

        </dl>
    </div>


{{> footer}}
