{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <dl class="howbuy">
            <dt>
                <div>
                    <strong class="hicon how-1">第一步，注册花橙金融</strong>
                    <div class="step-1">
                        <h2>注册成为花橙金融<i>送红包</i></h2>
                        <em>1</em><em>2</em><em>3</em>
                        <p><b>绑定手机号</b><b>验证码</b><b>实名认证</b></p>
                        <a href="/register?reg=huachengjinrong" class="url-1" title="注册花橙金融">立即注册</a>
                    </div>
                </div>
            </dt>
            <dd>
                <div>
                    <div class="hicon step-2">
                        <span><em>充值金额</em></span>
                        <span><em>支付方式</em></span>
                        <span><em>第三方安全支付</em></span>
                        <a href="/user-recharge?money=100&huachengjinrong" class="url-2" title="花橙金融充值">立即充值</a>
                    </div>
                    <strong class="hicon how-2">第二步，帐户充值</strong>
                </div>
            </dd>
            <dd>
                <div>
                    <div class="hicon step-3">
                        <span><em>选择产品</em></span>
                        <span><em>购买份数</em></span>
                        <span><em>提交订单</em></span>
                        <span><em>完成投资</em></span>
                        <a href="/products?huachengjinrong" class="url-3" title="花橙金融 提交订单">提交订单</a>
                    </div>
                    <strong class="hicon how-3">第三步，选择高收益产品购买提交订单</strong>
                </div>
            </dd>
            <dd>
                <div>
                    <strong class="hicon how-4">第四步，查看购买的票据理财，支票理财，信贷理财等收益</strong>
                    <strong class="hicon how-5">花橙金融，高收益P2P安全保障理财平台</strong>
                    <a href="/usercenter?huachengjinrong" class="url-4" title="查看花橙金融收益">查看收益</a>
                </div>
            </dd>

        </dl>
    </div>







    <!--footer-->
    <div id="footer">
        <dl>
            <dt>
                <ul>
                    <li><strong><a href="/help">帮助中心</a></strong></li>
                    <li><a href="/profiting">如何购买</a></li>
                    <li><a href="/question">常见问题</a></li>
                    <li><a href="/help">新手指引</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/safety">安全保障</a></strong></li>
                    <li><a href="/safety">资金安全</a></li>
                    <li><a href="/safety">风控保障</a></li>
                    <li><a href="/collection">托收公示</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/products" title="花橙金融 理财产品">理财产品</a></strong></li>
                    <li><a href="/products" title="花橙金融 理财产品">票据产品</a></li>
                    <li><a href="/products" title="花橙金融 理财产品">支票产品</a></li>
                    <li><a href="/products" title="花橙金融 理财产品">保险产品</a></li>
                    <li><a href="/products&more" title="花橙金融 理财产品">更多</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/news">新闻资讯</a></strong></li>
                    <li><a href="/news">花橙新闻</a></li>
                    <li><a href="/reports">媒体报道</a></li>
                    <li><a href="/partners">合作伙伴</a></li>
                </ul>
                <ul>
                    <li><strong><a href="/about">关于我们</a></strong></li>
                    <li><a href="/about">花橙金融</a></li>
                    <li><a href="/statement" target="_blank">法律声明</a></li>
                    <li><a href="/job">加入花橙</a></li>
                    <li><a href="/service">联系我们</a></li>
                </ul>

                <div class="service">
                    <span>客户服务</span>
                    <h5>4000-267-555</h5>

                    <em>工作时间：9:00 - 18:00</em>
                    <em>官方邮箱：<a href="mailto:service@hcii.cn">service@hcii.cn</a></em>
                </div>
            </dt>
            <dd><strong><a href="http://www.hcii.cn/" title="花橙金融">花橙金融</a></strong> &copy; 2015 花橙互联网金融信息服务（上海）有限公司 All rights reserved <a href="http://www.miitbeian.gov.cn/" title="花橙金融备案号" target="_blank">沪ICP备15040224号-1</a> <span class="statis"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256242729'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256242729%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span></dd>
        </dl>
        <p>
            <a href="http://t.knet.cn/index_new.jsp" target="_blank" class="hcicon foot-kx">可信网站</a>
            <a href="https://search.szfw.org/" target="_blank" class="hcicon foot-cx">诚信网站</a>
            <a href="http://www.zx110.org/" target="_blank" class="hcicon foot-wl">网络诚信</a>
        </p>
    </div>
    <!--footer eof-->

    {{!--javascript--}}<script src="{{static 'scripts/require.js'}}"  data-main="{{static 'scripts/main'}}"></script>{{!--javascript eof--}}
    <!--{{node}}-->
