{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <div class="question clear">
            <dl class="bar">
                <dt class="clear">
                <ul>
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="/help">新手指引</a></li>
                    <li><a class="on" href="/question">常见问题</a></li>
                    <li><a href="/news">花橙新闻</a></li>
                    <li><a href="/reports">媒体报道</a></li>
                    <li><a href="/collection">托收公示</a></li>
                    <li><a href="/job">加入花橙</a></li>
                    <li><a href="/service">联系我们</a></li>
                </ul>
                </dt>
                <dd>
                    <strong class="qicon">花橙金融 理财平台</strong>
                    <img src="images/banner/hc_banner_02.jpg" alt="花橙金融微信号">
                </dd>
            </dl>


            <dl class="qa">
                <dt>
                    <h2 class="orange">花橙金融常见问题</h2>
                </dt>
                <dd>
                    <em></em>
                    <p>Q：如何注册花橙账号？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                        A：只需三步，输入手机号、设置密码、完成实名认证即可。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：注册认证不成功怎么办？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：提交时显示账号已存在，说明此手机号码已被注册过，更换手机号码注册即可。实名认证提交时显示认证失败，请核对身份信息是否正确，重新提交。若仍显示认证失败，说明此身份已被使用，请提供新的实名认证信息。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：如何充值及购买？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：用户注册完成后，可通过名下银行借记卡进行充值。金融类产品性质特殊，需保证用户姓名、银行借记卡号、身份证、银行预留手机号四项资料一致，才能完成充值。充值成功后即可购买产品。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：如何提现？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：用户账号内可用余额大于等于100元均可提现。为保障用户资金安全，发起提现申请后，于下个工作日返回用户充值时绑定的同一张银行借记卡，节假日顺延。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：什么是债权转让？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：债权转让功能是为了方便投资者资金周转所设定的。用户通过损失部分收益，转让未到期的债权实现资金回笼。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：如何发起债权转让？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：用户购买可转让类型的产品后，满足规定时间的。可登陆账号，在【投资订单】选项内自行发起需要债权转让的订单。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：债权转让未成交怎么办？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：未成交的债权转让订单，按该订单转让前的标准执行。（注：详见债权转让规则）
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：什么是积分？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                       A：积分是为了活跃用户而设计的奖励机制。
                    </span>
                </dd>
                <div class="line"></div>
                <dd>
                    <em></em>
                    <p>Q：如何获得积分？</p>
                </dd>
                <dd>
                    <i></i>
                    <span>
                        A：通过购买花橙理财产品，且产品到期后，按投资金额的一定比例奖励积分给用户。
                    </span>
                </dd>

            </dl>
        </div>
    </div>
    
{{> footer}}
