{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <dl class="safety">
            <dt>
                <h2>花橙金融 6大保障为您保驾护航</h2>
            </dt>
            <dd class="b-1">
                <div>
                    <strong class="sicon s-1">花橙金融 资金保障</strong>
                    <ul>
                        <li><h3>资金保障</h3></li>
                        <li>花橙金融为保护用户的投资权益，通过银行进行资金托管，实现了平台与资金真正隔离，确保投融资交易真实和投资人资金安全。</li>
                    </ul>
                    <ul>
                        <li><h3>资产保障</h3></li>
                        <li>
                        花橙金融平台上所有合作金融机构必须持有监管部门颁发的金融业务经营许可证，
                        由金融主管部门进行监督和审查。
                        </li>
                        <li>
                        花橙金融平台上所有合作的非金融机构均处于行业领先地位且必须经过风控部门
                        对其基本资质进行准入审核，确保其企业运营规范。
                        </li>
                        <li>
                        每一个有意向入驻花橙金融平台的机构，须接受花橙金融独立的准入审核，通过
                        审核后在平台上一切业务将由花橙金融严格监管。
                        </li>
                    </ul>
                    
                </div>
            </dd>
            <dd class="b-2">
                <div>
                    <strong class="sicon s-2">花橙金融 资金保障</strong>
                    <ul>
                        <li><h3>项目保障</h3></li>
                        <li> 三重审核机制</li>
                        <li>花橙金融所有上线理财产品，均经过合作机构初审，再由花橙金融风控部门以实地尽职调查形式审核。</li>
                        <li>
                        严格审查保障方提供的具体保障措施（如抵质押物严格控制抵押率，确保评估价值公允、抵质押物足值，
                        并确保抵质押物可顺利办理登记、公证、保险等相关手续）。
                        </li>
                    </ul>
                    <ul>
                        <li><h3>技术保障</h3></li>
                        <li>
                        花橙金融技术团队成员均来自国内一流大型互联网公司和金融机构，对于网络数据安全、并发交易请求
                        处理、资金托管和支付业务等核心技术有丰富实践经验，能够最大限度保障投资人和借款人的交易信息安全。
                        </li>
                        <li>
                        花橙金融使用VeriSign SSL数字证书、128-256位加密技术。客户在花橙金融进行操作时，系统将在客户
                        端浏览器和Web服务器之间建立一条SSL安全通道Secure socket layer(SSL)，自动加密交易和资金信息，
                        保证数据在网络交换过程中的安全性。
                        </li>
                    </ul>
                    
                </div>
            </dd>
            <dd class="b-3">
                <div>
                    <strong class="sicon s-3">花橙金融 资金保障</strong>
                    <ul>
                        <li><h3>风控保证金</h3></li>
                        <li>风控保证金是担保机构或核心企业依照其担保的债权总金额，按一定比例缴纳的保证金。</li>
                        <li>
                        资金由第三方机构进行监管。在融资方及担保方未能及时履行债务偿还义务的情况下，
                        花橙金融将启用风控保证金进行代偿，为投资人的资金安全再添一重保障！
                        </li>

                        <li><h3>法律保障</h3></li>
                        <li>
                        我公司以严格按照《中华人民共和国合同法》、《中华人民共和国担保法》和《中华人民共和国票据法》及《贷款通则》等相关法律法规和相关规章制度及管理办法和细则实施。
                        </li>
                    </ul>
                    
                </div>
            </dd>
        </dl>
    </div>
    
{{> footer}}
