{{!--新手指引--}}
{{#section 'header'}}
    {{> othertop}}
    {{> head}}
{{/section}}

    <div id="container">
        <img src="{{static '/images/user/load.gif'}}" style="margin-left:-45px;position:relative;left:50%;top:10px;z-index:2;" id="cardload">
        
        <div style="display:none;width:0px;height:0px;">{{{paymentbody}}}</div>
    </div>

    
{{> footer}}
